.skillsline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background-color: orange;
}

.skill-card {
  width: 12rem;
  height: 12rem;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.skill-card:hover {
  transform: rotateY(180deg);
}

